.categoryItemContainer {
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}

.ciImage {
   width: 100%; 
   height: 100%;
   object-fit: cover;

}

.ciInfo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

.ciTitle {
    color: white;
    margin-bottom: 1.25rem;
}

.ciButton {
    border: none;
    padding: 0.625rem;
    background-color: #fff;
    cursor: pointer;
    font-weight: 600;
    height: 2.5rem;
    border-radius: 3px;
}